body{
    color:#518e38;
    background-color:black
}

header {
    color:#518e38;;
}

h2 {
    color:azure;;
}

section {
    color: aliceblue;
    background: black;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex; /* torna flexivel  = põe um lado do outro */
    justify-content: center; /* centralizar */
 }


